div.div-campo {
    border-bottom: 2px solid var(--cinzaTextDisabled);
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 110px;  
}

div.div-campo input {
    width: 100%;
    height: 80%;
    cursor: default;
}


div.div-campo label textarea {
    padding: 10px;
    color: var(--cinzaLabel);    
    background: none;
    border: none;
    min-height: 40px;
    filter: none;    
    width: 80%;
    resize: none;
    border-radius: 12px;
}


